.clip-path-diagonal {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 1023px) {
  .clip-path-diagonal {
    clip-path: none;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
