.search-panel{
    padding: 1rem;
}
.search-input{
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    border:1px solid #333;
    background-color: #111;
    color:#fff;
    font-size: 1rem;
    outline:none;
}
.search-input:focus{
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}
.search-items{
    margin-top: 1rem;
    overflow-y: auto;
}
.search-item{
    padding: 0.7rem;
    background-color: #1f1f1f;
    margin-bottom: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    border:1px solid #333;
    color: #fff;
}
.search-item:hover{
    background-color: #2a2a2a;
}